#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

body {
  margin: 0;
  padding: 0;
  background: #0f2027; /* dark blue gradient */
  color: white;
  font-family: 'Arial', sans-serif;
}

.app {
  max-width: 600px;
  margin: 3rem auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.input-area {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
  height: 2.5rem;
}

.input-area input {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  width: 80%;
  border-radius: 20px;
  border: none;
  outline: none;
}

.input-area button {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 20px;
  background-color: #1c87c9;
  color: white;
  border: none;
  cursor: pointer;
}

.note-list {
  list-style: none;
  padding: 0;
}

.note-list li {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  margin-bottom: 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 1rem;

  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0 1rem;
}


.note-list li.completed span {
  text-decoration: line-through;
  opacity: 0.4;
}


.note-list .actions button {
  margin-left: 0.5rem;
  font-size: 1.2rem;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  width: 1rem;
  height: 1rem;
  gap: 0.25rem;
  outline: none;
}

